

.grid-container {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
}
.noticiasHome {
    display: flex;
    justify-content: end;
    margin-right: 4%;
}
.recentActivity {
    display: flex;
    margin-top: 2rem;
    margin-left: 10%;
}