<app-alert [message]="alertMessage" [type]="alertType"></app-alert>

<div class="jugador-form">
  <h1>Agregar Nuevo Jugador</h1>
  <form [formGroup]="jugadorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombreReal">Nombre Real:</label>
      <input type="text" id="nombreReal" formControlName="nombreReal" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="mote">Mote:</label>
      <input type="text" id="mote" formControlName="mote" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="estatus">Estatus:</label>
      <input type="text" id="estatus" formControlName="estatus" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="foto">Foto:</label>
      <input type="text" id="foto" formControlName="foto" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="equipoActual">Equipo Actual:</label>
      <input type="text" id="equipoActual" formControlName="equipoActual" class="form-control" list="equiposList" (input)="onEquipoInput()" required>
      <datalist id="equiposList">
        <option *ngFor="let equipo of equiposFiltrados" [value]="equipo.nombre"></option>
      </datalist>
    </div>
    <div class="form-group">
        <label for="localizacion">Localización:</label>
        <select id="localizacion" formControlName="localizacion" class="form-control custom-select" required>
          <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
        </select>
      </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>