.NoticiaMain{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #303D57;
    width: 60rem;
    height: auto;
    max-height: 30rem;
}