.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticiasHome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recentActivity {
    display: flex;
    justify-content: center;
    align-items: center;
}